

/*|||||||| 3 f or m u l e ||||||||*/

.col{
    display: flex;
    justify-content: center;
}

.card{
    width: 25vw;
}
.card-title{
    color:  #38b6ff;
    font-size: 1.8rem;
}

.card .btn {
    display: flex;
    color: white;
    background: #38b6ff;
    font-size:1.1rem;
    transition-duration: 0.5s;
    align-self: center;
}

.card .btn:hover{
    background-color: #ffde59;
    color:#38b6ff;
}
